{% extends "main/base.html" %}
{%load static%}

{% block content %}

  {% comment %} <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="#">Home</a>  /  Single Property</span>
          <h3>Single Property</h3>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

  <div class="single-property section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="main-image">
            <img src="{{property.main_photo.url}}" alt="">
          </div>
          <div class="main-content">
            <span class="category">Apparment</span>
            <h4>{{property.name}}</h4>
            <p>{{property.description}}</p>
          </div> 
      </div>
    </div>
  </div>
  {% endblock content %}